/*-- scss:defaults --*/
$bs-yl: #5A2A4A !default;
$bs-pagination-active-bg: $bs-yl !default;
$bs-primary: $bs-yl !default;
$bs-btn-hover-bg: $bs-yl !default;
$fa-font-path: '../webfonts';

/*-- scss:rules --*/

.navbar {
  background-color: $bs-yl;
  color: #5A2A4A;
}

.quarto-title-banner{
  background-color: #C08497 ;
  color: #C08497;
}

.btn-primary {
    color: #F5F3F4;
    background-color: $bs-yl;
    border-color: $bs-yl;
}



.page-item.active .page-link {
    z-index: 3;
    color: #F5F3F4;
    background-color: $bs-yl;
    border-color: $bs-yl;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: rgba(255,255,255,.7);
    background: $bs-yl;
}

.page-link {
      color: #C08497;
}


.page-link:hover {
    z-index: 2;
    color: #F5F3F4;
    background-color: $bs-yl;
    border-color: $bs-yl;
}

a {
  color: #C08497;
  text-decoration: none;
}


a:hover {
  color: #C08497;
  text-decoration: underline;
}


b, strong {
    color: $bs-yl;
    font-weight: bolder;
}

div.quarto-post .listing-categories .listing-category {
    color: $bs-yl;
    border: solid 1px var(--bs-gray-400);
    font-size: .8em;
}


p pre code:not(.sourceCode), li pre code:not(.sourceCode), pre code:not(.sourceCode) {
  background-color: #F5F3F4;
}

code {
  color: #C08497;
}
